
/* Tất cả màu bên dưới bạn đều có thể thay đổi được */
.thuTitle {
	border-radius: 25px;
	background-color: #fd6ede;
	color: rgb(0, 255, 13);
	font-family:  Courier, cursive;
	font-size: 26pt;
	font-weight: bold;
}

.tamthu {
	font-family: 'Dancing Script', cursive;
	font-size: 20pt;
	color: white;
}

.content {
	border-radius: 25px;
	background-color: #3edbf7;
}

body {
	/* Ảnh nền của trang thứ 2 */
	background-image: url("https://img.powerpoint.com.vn/uploads/2019/06/09/hinh-nen-cho-powerpoint-bau-troi-va-khinh-khi-cau_092716851.jpg");
	background-size: cover;
    background-repeat: none;
}
span {
	display: inline-block;
	white-space: pre;
}

.iloveyou {
	position: relative;
}

.mask {
	position: absolute;
	background-color: #59b4c4;
	width: 100%;
	height:100%;
	top: 0;
	left: 0;
}

  
p {color:rgb(255, 255, 255); text-align: center; font-family: inherit; font-size: 50px;}
p2 {color:rgb(255, 23, 23); text-decoration: underline; text-align: center; font-family: inherit; font-size: 50px;}